
/* ------------------------------------- */
/* Estructura grid general */

#estructuraBody {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto 50px;
    grid-template-areas: "header" "main" "footer";
}

header {
    grid-area: header;
    background-color: black;
    z-index: 2;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}