@import url('https://fonts.googleapis.com/css2?family=Allison&family=Fira+Sans:wght@300&family=Oswald&display=swap');
@import "estructuraGrid";

/* ------------------------------------- */
/* Mapas */

$myFonts: (
    f1: ('Oswald', Arial, Helvetica, sans-serif),
    f2: ("Allison", cursive),
    f3: ("Fira Sans", sans-serif)
);

$myColors: (
    c1: burlywood,
    c2: gainsboro,
    c3: grey,
    c4: black
);

/* ------------------------------------- */
/* Mixins */

@mixin widthHeight ($width, $height) {
    width: $width;
    height: $height;
}

/* ------------------------------------- */
/* Estilos generales */

* {
    margin: 0px;
    padding: 0px;
}

html {
    @include widthHeight(100%, 100%);
}

body {
    font-family: map-get($myFonts, f1);
    background-color: map-get($myColors, c4);
    color: map-get($myColors, c2);
    @include widthHeight(100%, 100%);
}


/* ------------------------------------- */
/* Fuentes, colores, y opacidad */

@each $myFonts_name, $myFonts_family in $myFonts {
    .fontFam_#{$myFonts_name} {
        font-family: $myFonts_family;
    }
}

@each $myColors_name, $myColors_value in $myColors {
    .fontColor_#{$myColors_name} {
        color: $myColors_value;
    }
}

.opacity-15 { opacity: 15%; }


/* ------------------------------------- */
/* Menu */

.banner {
    background-color: map-get($myColors, c1);
    text-align: center;
    height: 24px;
    div {
        position: relative;
        top: 0px;
        animation-duration: 10s;
        animation-name: banner_animation;
        animation-iteration-count: infinite;
    }
    a {
        text-decoration: none;
        font-weight: bold;
        color: map-get($myColors, c4);
        font-size: 16px;
        overflow: hidden;
    }
}

@keyframes banner_animation {
    0% {top: 0px;}
    30% {top: 0px;}
    50% {top: -24px;}
    80% {top: -24px;}
    100% {top: 0px;}
}

.navbar-custom {
    border-bottom: outset 2px map-get($myColors, c1);
    text-align: center;
    font-size: 1.1rem;
    li a:hover { text-decoration: underline wavy; }      
}


/* ------------------------------------- */
/* Titulos H1 de cada pagina */

h1 {
    color: map-get($myColors, c1);
    margin-top: 20px;
    margin-left: 20px;
}


/* ------------------------------------- */
/* FOOTER */

footer {
    margin-top: 10px;
    img {
        opacity: 75%;
        &:hover { opacity: 100%; }
    }
} 


/* ------------------------------------- */
/* INDEX */

// Index Parte1 (superior)

.background_Index {
    background-image: url(../assets/img/otras/fondo_negro.png);
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-size: 95vh;
}

.indexPart1 {
    min-height: 80vh;
    margin:20px;
    margin-left: 5%;
    margin-top: 5vh;
    a {
        @include widthHeight(50px, 70px);
        display: flex;
        justify-content: center;
        position: absolute;
        padding-top: 30px;
        bottom: 4vh;
        left: 0px;
        right: 0px;
        margin: auto;
        align-items: center;
    }
    img {
        width: 40px;
        opacity: 80%;
    }
}

.titulo {
    margin: 0px;
    padding-top: 80px;
    color: map-get($myColors, c1);
    font-size: 50px;
}

.subTitulo {
    color: map-get($myColors, c1);
    font-size: 25px;
    margin-top: 50px;
}

.firma {
    display: inline-block;
    font-size: 65px;
    font-family: map-get($myFonts, f2);
    color: map-get($myColors, c2);
    font-weight: lighter;
    transform: rotate(-10deg);
    margin-left: 2%;
    margin-top: 50px;
    animation-duration: 3s;
    animation-name: firma_animation;
    animation-iteration-count: infinite;
}

@keyframes firma_animation {
    0% { opacity: 100%; }
    50% { opacity: 60%; }
    100% { opacity: 100%; }
}


// Index Parte2 (inferior)

.indexPart2 {
    margin-top: 60px;
    margin-bottom: 60px;
    video, img {
        width: 70%;
        height: auto;
        filter: grayscale(1);
        padding: 20px;
    }
    a {
        font-size: 18px;
        text-decoration: none;
        opacity: 80%;
    }
    a:hover {
        color: map-get($myColors, c1);
        opacity: 100%;
    }
}

.txt1_index2 {
    color: map-get($myColors, c1);
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: solid map-get($myColors, c1) 1px;
    border-bottom: solid map-get($myColors, c1) 1px;
    width: 80%;
    text-align: center;
}

.txt2_index2 {
    @extend .txt1_index2;
    width: 70%;
    padding: 20px;
    border: none;
    color: map-get($myColors, c2);
}


/* ------------------------------------- */
/* CLASES */

.descripcionCursos {
    h2 { font-size: 2.5em; }
    p { font-size: 1.3em; }
}


/* ------------------------------------- */
/* PRODUCTOS */

#grillaProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productos {
    position: relative;
    overflow: hidden;
    @include widthHeight(350px, 350px);
    border: solid 2px map-get($myColors, c4);
    border-radius: 20px;
    opacity: 1;
    margin: 10px;
    img {
        width: inherit;
        position: absolute;
        background-color: rgb(33,37,41);
    }
    &:hover img{
        animation-duration: 1s;
        animation-name: ocultarImgProducto;
        transform: scale(1.05);
        opacity: 30%;
        z-index: -1;
    }
}

.descripcionProductos{
    @include widthHeight(100%, 100%);
    text-align: center;
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
}

@keyframes ocultarImgProducto {
    0% { 
        opacity: 100%;
        transform: scale(1);
    }
    100% { 
        opacity: 30%;
        transform: scale(1.05); 
    }
}

.productos:hover .descripcionProductos{
    animation-duration: 1s;
    animation-name: verDescProducto;
}

@keyframes verDescProducto {
    0% { opacity: 20%; }
    100% { opacity: 100%; }
}


/* ------------------------------------- */
/* GALERIA */

#grillaGaleria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin: 30px;
}

.galeria img {
    @include widthHeight(100%, 100%);
    border-radius: 15px;
    object-fit: cover;
}

.contenedorFoto {
    @include widthHeight(100%, 100%);
    img {
        opacity: 80%;
        &:hover {
            opacity: 100%;
            transform: scale(1.05, 1.05);
        }
    }
}


/* ------------------------------------- */
/* CONTACTO */

.mediosContacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    gap: 20px;
    margin-left: 5px;
    margin-top: 30px;
    margin-bottom: 50px;
    .iconContacto {
        height: 35px;
        padding-right: 3px;
    }
    a{
        font-size: 22px;
        margin: 0px;
        margin-left: 10px;
        color: map-get($myColors, c1);
        text-decoration: none;
        opacity: 75%;
        &:hover { opacity: 100%; }
    }
    p {
        margin: 0px;
        margin-left: 10px;
        font-size: 22px;
    }
}

.imgContacto {
    display: none;
    position: absolute;
    bottom: 0px;
    z-index: -1;
    img {
        width: 80%;
        opacity: 50%;
        z-index: -1;
    }
}

.formulario {
    margin: 0px; 
    width: 95%;
}

// fondo gris a formularios
.form-check-input, .form-control {
    background-color: map-get($myColors, c2);
}

// estilo personalizado del check radio
.form-check-input:checked {
    background-color: map-get($myColors, c1);
    border: map-get($myColors, c4);
    box-shadow: none;
}

.form-check-input:after {
    background-color: map-get($myColors, c1);
    border: map-get($myColors, c4);
    box-shadow: none;
}

// estilo personalizado del boton ENVIAR
.btn-modifier {
    border-width: 3px;
    --bs-btn-font-weight: 600;
    --bs-btn-color: black;
    --bs-btn-bg: burlywood;
    --bs-btn-border-color: black;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: burlywood;
    --bs-btn-hover-border-color: burlywood;
    --bs-btn-focus-shadow-rgb: burlywood;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: burlywood;
    --bs-btn-active-border-color: burlywood;
}


/* ------------------------------------- */
/* RESPONSIVE */

@media screen and (min-width: 280px) {
    #grillaGaleria { grid-template-columns: repeat(1, 1fr); }
}

@media screen and (min-width: 480px) {
    #grillaGaleria { grid-template-columns: repeat(2, 1fr); }
}

@media screen and (min-width: 768px) {
    #grillaGaleria { grid-template-columns: repeat(3, 1fr); }
    #invertirOrdenMobile_index2 { order: 1; }
}

@media screen and (min-width: 1024px) {
    #grillaGaleria { grid-template-columns: repeat(4, 1fr); }
    .formulario { width: 75%; }
    .imgContacto { display: block; }
    .mediosContacto { margin-left: 50px; }
}

@media screen and (min-width: 1280px) {
    #grillaGaleria { grid-template-columns: repeat(5, 1fr); }
}

@media screen and (min-width: 1920px) { 
    #grillaGaleria { grid-template-columns: repeat(7, 1fr); }
}
