@import url('https://fonts.googleapis.com/css2?family=Allison&family=Jost:wght@500&family=Oswald&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    background-color: black;
    color: gainsboro;
    width: 100%;
    height: 100%;
}


/* ------------------------------------- */
/* Estructura grid general*/

#estructuraBody {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto 40px;
    grid-template-areas: "header" "main" "footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}


/* ------------------------------------- */
/* Menu */

.banner {
    background-color: burlywood;
    color: black;
}

.navbar-nav {
    border-bottom: outset 2px burlywood;
    font-size: 1.1rem;
}

.navbar-nav li a:hover {
    text-decoration: underline wavy;
}

header ul {
   background-color: rgba(0, 0, 0, .92);
}


/* ------------------------------------- */
/* Titulos H1 de cada pagina */

h1 {
    color: burlywood;
    margin-top: 20px;
    margin-left: 20px;
}


/* ------------------------------------- */
/* Fuentes, colores, y opacidad */

.fontFam_allison {
    font-family: 'Allison', cursive;
}   

.fontFam_jost {
font-family: 'Jost', sans-serif;
}

.fontColor_burlywood {
    color: burlywood;
}

.fontColor_gainsboro {
    color: gainsboro;
}

.fontColor_grey {
    color: grey;
}

.opacity-15 {
    opacity: 15%;
}

/* ------------------------------------- */
/* INDEX */

.imgFondoIndex {
    background-image: url(../assets/img/fondo_negro.png);
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-position-y:20%;
    background-size: 90vh;
}

.cajaTitulo {
    margin:20px;
    margin-left: 5%;
    margin-top: 10vh;
}

.cajaTitulo h1 {
    margin: 0px;
}

.titulo {
    color: burlywood;
    font-size: 50px;
}

.titulo--modifier{
    font-size: 25px;
    margin-top: 50px;
}

.titulo--firma{
    display: inline-block;
    font-size: 70px;
    font-family: 'Allison', cursive;
    font-weight: lighter;
    transform: rotate(-10deg);
    color: gainsboro;
    margin-left: 2%;
    margin-top: 50px;
}


/* ------------------------------------- */
/* PRODUCTOS */

#grillaProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productos {
    display: inline-block;
    margin-left: 15px;
    margin-top: 15px;
    background-color: rgb(30,30,30);
    border: solid 2px black;
    border-radius: 20px;
    padding: 15px;
}

.productos img {
    height: 300px;
}


/* ------------------------------------- */
/* GALERIA */

#grillaGaleria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin: 30px;
}

.galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ------------------------------------- */
/* CONTACTO */

.mediosContacto img {
    height: 35px;
}

.mediosContacto h4 {
    margin: 0px;
    margin-left: 10px;
    color: burlywood;
}

.mediosContacto p {
    margin: 0px;
    margin-left: 10px;
    font-size: 20px;
}


/* ------------------------------------- */
/* RESPONSIVE */

@media screen and (min-width: 600px) {
    /* Galeria */
    #grillaGaleria {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    /* Galeria */
    #grillaGaleria {
        grid-template-columns: repeat(4, 1fr);
    }
}


@media screen and (min-width: 1200px) {
    /* Galeria */
    #grillaGaleria {
        grid-template-columns: repeat(5, 1fr);
    }
}